@@ -0,0 +1,44 @@
  .card {
  font-famyly: sans-serif;
  color: #7F4344;
}
  
  .zagolovoknach {
  font-family: sans-serif;
  color: #7F4344;
  }
header {
background-color: #FCF9E3;
  height: 198px;
}

header h1 {
font-family: Castoro Titling;
  color: #7F4344;
  text-align: center;
  margin-left: 439px;
  margin-top: 43px;
  margin-bottom: 1416.18px;
  margin-right: 439.35px;
}

header p {
width: 208px;
  height: 40px;
}

.p1 {
font-family: Playfair Display;
  color: #7F4344;
  margin: 127px 888px 2000px 127px;
}

.p2 {
font-family: Playfair Display;
  color: #7F4344; 
  text-align: center;
}

.p3 {
font-family: Playfair Display;
  color: #7F4344; 
  text-align: right; 
}

main {
background-color: white;
  font-family: Playfair Display;
}

p {
text-align: left;
}

.photo {
border-radius: 50px;
  margin: 993px 82px;
}

footer {
background-color: #FCF9E3;
  font-family: Playfair Display;
}
